$primary-green: #44DD9D;
$primary-blue: #449DDD;
$primary-text-color: #616161;
$primary-boder: #33A777;
$background-gray: #E8E8E8;
$system-list-border: #787878;

.fullscreen {
    width: 100%;
    min-height: 100vh;
}

h1 {
    margin: 0;
}

.searchBox {
    width: 80vw;
    height: 40px;
    margin: 0 auto;

    input {
        padding: 0;
        line-height: 36px;
    }

    button {
        background-color: $primary-green;
        height: 100%;
        width: 64px;
        padding: 0;

        img {
            height: 24px;
        }
    }
}

#categoryList {
    #categoryBar {
        position: relative;

        li {
            color: $primary-text-color;
            background-color: $primary-green;
            list-style: none;
            margin: 0;
            padding: 16px 24px 16px 24px;
            border-bottom: 2px solid $primary-boder;
        }

        button {
            padding: 0;
            border-top: 8px solid transparent;
            border-right: 10px solid #33A777;
            border-bottom: 8px solid transparent;
            border-left: 0 solid transparent;
            background-color: transparent;

            position: absolute;
            top: 28px;
            right: 24px;

            &:focus {
                outline: none;
            }
        }

        .closeButton {
            transform: translateY(-50%);
        }

        .openButton {
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}

#resultTitle {
    font-size: 14px;
    font-weight: 200;
    background-color: $primary-green;
    margin-bottom: 0;
    padding: 4px 0 4px 0;
    color: $primary-text-color
}

#systemList {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 12px 24px 12px 24px;
        color: $primary-text-color;
        background-color: $background-gray;
        border-bottom: 2px solid $system-list-border;

        h4 {
            font-size: 24px;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            font-size: 18px;
        }
    }
}

#systemDetail {
    h1 {
        background-color: $primary-blue;
        color: white;
        font-size: 24px;
        padding: 8px 24px 8px 24px;
    }

    h2 {
        margin: 0;
        background-color: $background-gray;
        color: $primary-text-color;
        padding: 8px 0 0 24px;
        font-size: 18px;
    }

    p {
        margin: 4px 0 4px 24px;
        font-size: 18px;
        color: $primary-text-color;
    }

    #systemDescription {
        padding-bottom: 64px;
    }

    button {
        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        border-radius: 25px;
        font-size: 18px;
        font-weight: bold;
        background-color: $primary-blue;
        color: white;
        padding: 12px 16px 12px 16px;
    }
}

.Indicator {
    position: relative;

    .load {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}