@import "setting";

.categoryButtonList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 344px;
    margin: 0 auto;
}

.categoryButton {
    margin: 0 auto;
    padding: 8px;

    button {
        padding: 0;
        background-color: $White;

        border-radius: 4px 4px 4px 4px;
        border: none;
        box-shadow: 1px 1px 4px $TextGray;
    }

    img {
        max-width: 144px;
    }

    .categoryName {
        padding: 4px 0;

        font-size: $H2;
        font-weight: bold;

        color: $TextBlack;
    }
}