@import "setting";

.searchBar {
    margin: 0 auto;
}

.category {
    h2 {
        max-width: 344px;
        margin: 24px auto 16px auto;
    }
}

.categoryContainer {
    padding: 16px;
    margin-bottom: 8px;

    background-color: $White;
}