@import "setting";

footer {
    padding: 24px 0;
    background-color: $White;

    .contents {
        text-align: center;

        .wrapper {
            display: inline-block;
    
            img {
                height: 32px;
            }
        }
    
        .link {
            display: inline-block;

            padding: 0 32px;
            position: relative;
            top: -8px;
    
            p {
                display: inline-block;
                margin: 0 8px;
                font-size: $P3;
            }
        }
    }
}