@import "setting";

.popularSystemCard {
    padding: 16px;
    margin-right: 8px;
    width: 240px;

    background-color: $White;
    border-radius: 4px;

    display: inline-block;

    h4 {
        margin: 0 0 8px 0;
        font-size: $H2;
    }

    p {
        margin: 0;
        font-size: $P1;
    }
}