@import "setting";

.searchButton {
    display: inline-block;
    max-width: 160px;

    button {
        width: 100%;
        padding: 16px;

        font-size: $H1;
        font-weight: bold;
        text-align: left;

        border: none;
        border-radius: 4px;

        color: $White;
        background-color: $ThemeGreen;
    }
}