@import "setting";

.searchBar {
    max-width: 420px;
    height: 48px;
    text-align: center;

    input {
        box-sizing:border-box;
        width: calc(100% - 64px);
        height: 100%;

        border-top: solid 2px $TextGray;
        border-right: none;
        border-bottom: solid 2px $TextGray;
        border-left: solid 2px $TextGray;
        border-radius: 4px 0 0 4px;

        &:focus {
            outline: none;
        }
    }

    button {
        vertical-align: middle;

        box-sizing:border-box;
        height: 100%;
        width: 64px;

        border: none;
        border-radius: 0 4px 4px 0px;

        background-color: $ThemeGreen;

        img {
            position: relative;
            top: 3px;
            height: 32px;
            padding: 0;
        }
    }
}