@import "setting";

.tag {
    button {
        position: relative;
        padding: 3px 12px;
        min-width: 96px;
        font-size: $P2;
        text-align: left;

        color: $White;
        background-color: $ThemeBlue;

        border: none;
        border-radius: 12px;

        span {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);

            font-size: $P1;
        }
    }
}