@import "setting";

.top {
    .title {
        background-color: $White;
        overflow: hidden;

        .wrapper {
            text-align: center;
            padding: 32px 0 32px 0;

            img {
                height: 48px;
            }
        }

        .buttons {
            margin-bottom: 32px;
            text-align: center;

            .searchButton {
                margin: 8px;
            }
        }
    }
}